* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.page {
    display: flex;
    height: 100vh;

    font-family: "Montserrat", "Arial", sans-serif;
}

.page__video {
    position: fixed;
    z-index: -10;

    width: 100%;
    height: auto;
}

@media (max-width: 1320px) {
    .page__video {
        width: auto;
        height: 100%;
    }
}

/*------------------------ Switch Time Block ------------------------*/
.switch-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.time {
    display: flex;
    justify-content: center;

    font-family: inherit;
}

.switch-time__time {
    padding: 20px 30px;

    font-size: 2rem;
    color: white;

    background: none;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
}

.switch-time__time_theme-white:hover {
    color: black;

    background: white;
}

.switch-time__time_border-white {
    border: 2px solid white;
    border-radius: 10px;
}

/*------------------------ Timer Block ------------------------*/
.timer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.timer__time {
    display: flex;
    margin-top: 20px;
    justify-content: center;

    font-size: 4rem;
    color: white;
}

.controls {
    display: flex;
    flex-direction: column-reverse;
}

.controls__pause_displayed {
    display: inline-block;
}

.controls__replay {
    margin-bottom: 10px;
}

.timer__track-outline {
    position: absolute;
    z-index: -6;

    width: 100%;
    height: 50%;
}

.timer__moving-outline {
    position: absolute;
    z-index: -5;

    width: 100%;
    height: 50%;

    transform: rotate(-90deg);
}
/*------------------------ Switch Environment Block ------------------------*/
.switch-environment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.weather {
    padding: 20px;
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.switch-environment__rain {
    background-color: #4972A1;
}

.switch-environment__beach {
    background-color: #A14F49;
}